<!--This is what we want at the top of every html page -->

<!DOCTYPE html>

		<html>

			<head>
			    
			    <title>Demo App</title>
			    <!-- We need to include a "/" before app.css in order to link our style sheet to our .ejs files -->
			    <link rel="stylesheet" href="/style.css">
			    
			    
			    <!--linking up font-awesome to add icons into our html webpage-->
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

			</head>

			<body>
				
				
				<div class="navbar">
    
				    <div class="home">
				        <a>Home</a>
				    </div>
				    
				    <div class="rightbar">
				        <a>Settings</a>
				        <a>Login</a>
				    </div>
				    
				    
				</div>


				<div class="container">
				    
				    <div class="vertnavbar">
				        
				        <ul class="vertnavbarfields">
				            
				            <li>
				                <a class="vertfields activate">Event Bubbles</a>
				            </li>
				            
				            <li class="friends">
				                <a class="vertfields">Friends</a>
				                <ul class="subcontent">
				                    <li><a>Friend 1</a></li>
				                    <li><a>Friend 1</a></li>
				                    <li><a>Friend 1</a></li>
				                    <li><a>Friend 1</a></li>
				                    <li><a>Friend 1</a></li>
				                    <li><a>Friend 1</a></li>
				                </ul>
				            </li>
				            
				            <li>
				                <a class="vertfields">Messages</a>
				            </li>
				        </ul> 
				    </div> <!-- vertnavbar -->