<!--This is what we want at the top of every html page -->

<!DOCTYPE html>

		<html>

			<head>
			    
			    <title>Demo App</title>
			    <!-- We need to include a "/" before app.css in order to link our style sheet to our .ejs files -->
			    <link rel="stylesheet" href="/style.css">

			</head>

			<body>