<% include partials/header %>

<!-- This will serve as my main page -->
<!-- This site is bascially going to be a static site. A lot of data is going to be pulled from faker.js. This site will serve as an alpha -->
<div class="navbar">
    
    <div class="home">
        <a>Home</a>
    </div>
    
    <div class="rightbar">
        <a>Settings</a>
        <a>Login</a>
    </div>
    
    
</div>


<div class="container">
    
    <div class="vertnavbar">
        
        <ul class="vertnavbarfields">
            
            <li>
                <a class="vertfields activate">Event Bubbles</a>
            </li>
            
            <li class="friends">
                <a class="vertfields">Friends</a>
                <ul class="subcontent">
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                </ul>
            </li>
            
            <li>
                <a class="vertfields">Messages</a>
            </li>
        </ul> 
    </div> <!-- vertnavbar -->
    
    

    
    <div class="eventpage">
        
        
        <!-- Place the event header/title here -->
        
        <div class="titleandheader">
        
            <h2 class="eventtitleheader">
                
                 <%= eventname %>
                
            </h2>
            
            <!-- Is there a way to retrieve the image from our script.js or index.ejs file into here? I guess a database is needed to do so -->
            <img class="eventpageimage" src="https://images.unsplash.com/photo-1528360983277-13d401cdc186?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=89da2618e73e395491d2c33022d0564d&auto=format&fit=crop&w=1350&q=80">
            
        </div>
        
        <div class="eventpagedescription">
            
            <h3 class="eventpagedate">Oct 15, 2018</h3>
            <p class="eventpagelocation">Tokyo, Japan</p>
            <p class="eventpageaddress">[Place Address Here]</p>
            <p class="eventpageinfo">
                I'm planning a tript to Japan! If anyone want's to join, please join this event.
            </p>
            
            
            
            
        </div>
        
       
        
        <div class="eventpagetaskstab">
            <h3>Tasks</h3>
            <p>Various tasks placed here</p>
            
            
        </div>
        
     
        
        <div class="eventpagefriends">
            <h3>Friends going to event</h3>
            <p>Friends are placed in here</p>
            
            <hr>
            
            <div class="listfriends">
                
                <div class="friendelement">
                <img class="friend1" src="https://images.unsplash.com/photo-1527631746610-bca00a040d60?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=713226528e0e3a02140dcce99bf25443&auto=format&fit=crop&w=668&q=80">
                
                
                </div>
               
                
            </div>
            
            
        </div>
        
        
        <div class="eventpagevideosandphotos">
            <h3>Videos & Photos from Friends</h3>
            <p>Videos & photos are placed in here</p>
        </div>
        
      
        
        
        
        
        
    </div>
    
    
    
    
</div> <!-- .container -->








<!--<script type="text/javascript" src="/script.js"></script>-->
<!--connects this .ejs file to our javascript file -->


<% include partials/footer %>