<% include partials/header %>

<h1>This is the home page!</h1>

<img src="https://images.unsplash.com/photo-1535930891776-0c2dfb7fda1a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ac4818726f5f336bb0515dd0e1dc34f1&auto=format&fit=crop&w=1296&q=60">

<% include partials/footer %>