<% include partials/header %>

<!-- This will serve as my main page -->
<!-- This site is bascially going to be a static site. A lot of data is going to be pulled from faker.js. This site will serve as an alpha -->
<div class="navbar">
    
    <div class="home">
        <a>Home</a>
    </div>
    
    <div class="rightbar">
        <a>Settings</a>
        <a>Login</a>
    </div>
    
    
</div>


<div class="container">
    
    <div class="vertnavbar">
        
        <ul class="vertnavbarfields">
            
            <li>
                <a class="vertfields activate">Event Bubbles</a>
            </li>
            
            <li class="friends">
                <a class="vertfields">Friends</a>
                <ul class="subcontent">
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                </ul>
            </li>
            
            <li>
                <a class="vertfields">Messages</a>
            </li>
        </ul> 
    </div> <!-- vertnavbar -->
    

    <div class="Events"> <!-- Event bubbles will be placed in here -->
        
        
        <div class="eventbubble">
            
            <img class="eventimage" src="https://images.unsplash.com/photo-1528360983277-13d401cdc186?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=89da2618e73e395491d2c33022d0564d&auto=format&fit=crop&w=1350&q=80">
            <!--icons will be placed here-->
            
            <div class="eventicons">
                
                <i class="fa fa-users users" aria-hidden="true"></i>
                <i class="fa fa-comments iconright" aria-hidden="true"></i>
                <i class="fa fa-video-camera iconright" aria-hidden="true"></i>
                
            </div>
            
            <p class="eventtitle">Sample: Going to Japan!</p>
            
        </div>
        
        
        
        <!-- create dynamic events below, our css file should automatically style each event for us -->
        <!--
            I think I need to create a for loop here. 
        
        -->
        
        
        
    </div>
</div> <!-- container -->

<script type="text/javascript" src="/script.js"></script>
<!--connects this .ejs file to our javascript file -->



<% include partials/footer %>