<% include partials/header %>

<!-- This will serve as my main page -->
<!-- This site is bascially going to be a static site. A lot of data is going to be pulled from faker.js. This site will serve as an alpha -->
<div class="navbar">
    
    <div class="home">
        <a>Home</a>
    </div>
    
    <div class="rightbar">
        <a>Settings</a>
        <a>Login</a>
    </div>
    
    
</div>


<div class="container">
    
    <div class="vertnavbar">
        
        <!--<div class="navbarcontents">-->
        <!--    <a>Event Bubbles</a>-->
        <!--</div>-->
        
        <!--<div class="navbarcontents">-->
        <!--    <a>Friends</a>-->
            
        <!--</div>-->
        
        <!--<div class="navbarcontents">-->
        <!--    <a>Messages</a>-->
        <!--</div>-->
        
        <ul class="vertnavbarfields">
            
            <li>
                <a class="vertfields">Event Bubbles</a>
            </li>
            
            <li>
                <a class="vertfields">Friends</a>
                <ul class="subcontent">
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                    <li><a>Friend 1</a></li>
                </ul>
            </li>
            
            <li>
                <a class="vertfields">Messages</a>
            </li>
            
            
        </ul>
        
        
        
        
        
    </div>
    
    
</div>





<% include partials/footer %>