


<!--This is what we want at the top of every html page -->

<!DOCTYPE html>

		<html>

			<head>
			    
			    <title>Demo App</title>
			    <!-- We need to include a "/" before app.css in order to link our style sheet to our .ejs files -->
			    <link rel="stylesheet" href="/registerPageStyle.css">
			    
			    
			    <!--linking up font-awesome to add icons into our html webpage-->
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

			</head>

			<body>
				
				<div class="jumbotron">
					<h1>Welcome to Event Bubbles</h1>
					<p>To get started, please enter the required information below</p>
					
					
					
				</div>
				
				
				<div class="registerDiv">
				    
				    <form class="RegisterForm" action="/register" method="POST">
				        
				        <label class="inputLabel" for="firstName">First Name</label>
				        <input class="inputText" type="text" name="firstname" id="firstName">
				        
				        <label class="inputLabel" for="lastName">Last Name</label>
				        <input class="inputText" type="text" name="lastname" id="lastName">
				        
				        <label class="inputLabel" for="userName">User Name</label>
				        <input class="inputText" type="text" name="username" id="userName">
				        
				        <label class="inputLabel" for="email">Email</label>
				        <input class="inputText" type="email" name="email" id="email">
				        
				        <label class="inputLabel" for="userPassword">Password</label>
				        <input class="inputText" type="password" name="password" id="userPassword">
				        
				        <button class="SignUpButton">Sign Up</button>
				        
				        
				    </form>
				    
				    
				</div>
		</html>
		


