body {
    margin: 0;
    backgroun-color: white;
}

/****** hide element *******/
.hide{
    display: none;
}

/****** activate current element *******/
.activate{
    background: #ddd;
}

/************ Editing the Navbar ************/

.navbar{
    
    width: 100%;
    margin: 0px;
    height: 50px;
    background: black;
    color: white;
    overflow: hidden;
}

.home{
    float: left;
    margin-left:15%;
}

.rightbar{
    float: right;
    margin-right:15%;
}

.navbar div a{
    text-align: center;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    height: 100%;
    padding: 20px 18px;
}

.navbar div a:hover{
    cursor: pointer;
    background-color: #ddd;
}


/********** Editing the mainbody ************/

.container{
    height: 1000px;
    background-color: gray; /*Remove this later*/
    margin-left:15%;
    margin-right:15%;
   
}

.vertnavbar{
    float: left;
    width: 20%;
    background: white;
    height: 100%;
    
}











/**** New vertnavbar styles here ****/

.vertnavbarfields{
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.subcontent{
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li{
    width: 100%;

    
}

ul li a{
    width: 100%;
    float: left;
    margin: 0;
    text-indent: 10px;
    height: 30px;
    line-height: 30px;
    
}

.subcontent li a{
    text-indent: 20px;
    display: none;
 
}

ul li a:hover{
    background: #ddd;
    color: white;
    cursor: pointer;
}




/**** Display friends dropdown when you hover over friends ****/

.friends:hover .subcontent li a{
    display: block;
}






/****************** Events/eventbubbles ********************/
/* Events takes up 80% of the container, while verticalnavigation bar takes up 20% of the container */
.Events{
    float: right;
    width: 80%;
    background-color: #ddd;
    
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.eventimage{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right:auto;
    display: block;
    margin-top: 5px;
}

.eventimage:hover{
    cursor: pointer;
}

.eventimage:hover .eventbubble p{
    color: white;
}

.eventicons{
    width: 60%;
    margin-left:auto;
    margin-right:auto;
}

.iconright{
    float: right
}

/* Edit all icons */
i{
    margin-left:2px;
    margin-right:2px;
}

/* When all icons are hovered over, highlight them with this color #ddd */
i:hover{
    /*color:#ddd;*/
    /* Place it as white for now */
    color: white;
}

.eventbubble p{
    margin: 0px;
    text-align: center;
}

.eventbubble p:hover{
    color: white;
    cursor: pointer;
}








/****** Editing the form *******/

.formsdiv{
    
    width: 80%;
    float: right;
    background-color: white;
    height: 200px;
}


form{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    margin-bottom: 10%
    
}

form input{

}